.app {
  margin: 20px;
}

.card-margin {
  margin: 1em;
}

.card-avatar {
  width: 75px;
  height: 75px;
}

.card-info {
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
}

.card-name {
  font-size: 1.25em;
  font-weight: bold;
}